// class Square

function Square.new 6
push constant 6
call Memory.alloc 1 // allocate object + params on heap
pop pointer 0 // update 'this' to heap address
push argument 0 // Ax
pop this 0 // x =
push argument 1 // Ay
pop this 1 // y =
push argument 2 // Asize
pop this 2 // size =
push pointer 0 // Square (this)
call Square.draw 1
push pointer 0 // this
return

function Square.dispose 0
push argument 0
pop pointer 0 // update 'this' to object for method call
// external call Memory.deAlloc
push pointer 0 // this
call Memory.deAlloc 1
push constant 0 // void return
return

function Square.draw 0
push argument 0
pop pointer 0 // update 'this' to object for method call
// external call Screen.setColor
push constant 1
neg // true
call Screen.setColor 1
// external call Screen.drawRectangle
push this 0 // x
push this 1 // y
push this 0 // x
push this 2 // size
add
push this 1 // y
push this 2 // size
add
call Screen.drawRectangle 4
push constant 0 // void return
return

function Square.erase 0
push argument 0
pop pointer 0 // update 'this' to object for method call
// external call Screen.setColor
push constant 0 // false
call Screen.setColor 1
// external call Screen.drawRectangle
push this 0 // x
push this 1 // y
push this 0 // x
push this 2 // size
add
push this 1 // y
push this 2 // size
add
call Screen.drawRectangle 4
push constant 0 // void return
return

function Square.incSize 0
push argument 0
pop pointer 0 // update 'this' to object for method call

// if <expression>
push this 1 // y
push this 2 // size
add
push constant 254
lt
push this 0 // x
push this 2 // size
add
push constant 510
lt
and

if-goto IF_incSize_0 // enter if
goto ELSE_incSize_0 // exit if or enter else
label IF_incSize_0 // start if
push pointer 0 // Square (this)
call Square.erase 1
push this 2 // size
push constant 2
add
pop this 2 // size =
push pointer 0 // Square (this)
call Square.draw 1

label ELSE_incSize_0 // else
label IF_END_incSize_0 // exit if
push constant 0 // void return
return

function Square.decSize 0
push argument 0
pop pointer 0 // update 'this' to object for method call

// if <expression>
push this 2 // size
push constant 2
gt

if-goto IF_decSize_0 // enter if
goto ELSE_decSize_0 // exit if or enter else
label IF_decSize_0 // start if
push pointer 0 // Square (this)
call Square.erase 1
push this 2 // size
push constant 2
neg
add
pop this 2 // size =
push pointer 0 // Square (this)
call Square.draw 1

label ELSE_decSize_0 // else
label IF_END_decSize_0 // exit if
push constant 0 // void return
return

function Square.moveUp 0
push argument 0
pop pointer 0 // update 'this' to object for method call

// if <expression>
push this 1 // y
push constant 1
gt

if-goto IF_moveUp_0 // enter if
goto ELSE_moveUp_0 // exit if or enter else
label IF_moveUp_0 // start if
// external call Screen.setColor
push constant 0 // false
call Screen.setColor 1
// external call Screen.drawRectangle
push this 0 // x
push this 1 // y
push this 2 // size
add
push constant 1
neg
add
push this 0 // x
push this 2 // size
add
push this 1 // y
push this 2 // size
add
call Screen.drawRectangle 4
push this 1 // y
push constant 2
neg
add
pop this 1 // y =
// external call Screen.setColor
push constant 1
neg // true
call Screen.setColor 1
// external call Screen.drawRectangle
push this 0 // x
push this 1 // y
push this 0 // x
push this 2 // size
add
push this 1 // y
push constant 1
add
call Screen.drawRectangle 4

label ELSE_moveUp_0 // else
label IF_END_moveUp_0 // exit if
push constant 0 // void return
return

function Square.moveDown 0
push argument 0
pop pointer 0 // update 'this' to object for method call

// if <expression>
push this 1 // y
push this 2 // size
add
push constant 254
lt

if-goto IF_moveDown_0 // enter if
goto ELSE_moveDown_0 // exit if or enter else
label IF_moveDown_0 // start if
// external call Screen.setColor
push constant 0 // false
call Screen.setColor 1
// external call Screen.drawRectangle
push this 0 // x
push this 1 // y
push this 0 // x
push this 2 // size
add
push this 1 // y
push constant 1
add
call Screen.drawRectangle 4
push this 1 // y
push constant 2
add
pop this 1 // y =
// external call Screen.setColor
push constant 1
neg // true
call Screen.setColor 1
// external call Screen.drawRectangle
push this 0 // x
push this 1 // y
push this 2 // size
add
push constant 1
neg
add
push this 0 // x
push this 2 // size
add
push this 1 // y
push this 2 // size
add
call Screen.drawRectangle 4

label ELSE_moveDown_0 // else
label IF_END_moveDown_0 // exit if
push constant 0 // void return
return

function Square.moveLeft 0
push argument 0
pop pointer 0 // update 'this' to object for method call

// if <expression>
push this 0 // x
push constant 1
gt

if-goto IF_moveLeft_0 // enter if
goto ELSE_moveLeft_0 // exit if or enter else
label IF_moveLeft_0 // start if
// external call Screen.setColor
push constant 0 // false
call Screen.setColor 1
// external call Screen.drawRectangle
push this 0 // x
push this 2 // size
add
push constant 1
neg
add
push this 1 // y
push this 0 // x
push this 2 // size
add
push this 1 // y
push this 2 // size
add
call Screen.drawRectangle 4
push this 0 // x
push constant 2
neg
add
pop this 0 // x =
// external call Screen.setColor
push constant 1
neg // true
call Screen.setColor 1
// external call Screen.drawRectangle
push this 0 // x
push this 1 // y
push this 0 // x
push constant 1
add
push this 1 // y
push this 2 // size
add
call Screen.drawRectangle 4

label ELSE_moveLeft_0 // else
label IF_END_moveLeft_0 // exit if
push constant 0 // void return
return

function Square.moveRight 0
push argument 0
pop pointer 0 // update 'this' to object for method call

// if <expression>
push this 0 // x
push this 2 // size
add
push constant 510
lt

if-goto IF_moveRight_0 // enter if
goto ELSE_moveRight_0 // exit if or enter else
label IF_moveRight_0 // start if
// external call Screen.setColor
push constant 0 // false
call Screen.setColor 1
// external call Screen.drawRectangle
push this 0 // x
push this 1 // y
push this 0 // x
push constant 1
add
push this 1 // y
push this 2 // size
add
call Screen.drawRectangle 4
push this 0 // x
push constant 2
add
pop this 0 // x =
// external call Screen.setColor
push constant 1
neg // true
call Screen.setColor 1
// external call Screen.drawRectangle
push this 0 // x
push this 2 // size
add
push constant 1
neg
add
push this 1 // y
push this 0 // x
push this 2 // size
add
push this 1 // y
push this 2 // size
add
call Screen.drawRectangle 4

label ELSE_moveRight_0 // else
label IF_END_moveRight_0 // exit if
push constant 0 // void return
return
