// class Square

constructor Square.new 0
push 0 // allocate object + params on heap
call Memory.alloc 1
pop pointer 0 // update 'this' to heap address
push argument 0 // Ax
pop this 0 // x =
push argument 1 // Ay
pop this 1 // y =
push argument 2 // Asize
pop this 2 // size =
call Square.draw 0
push pointer 0 // this
return

method Square.dispose 0
push argument 0
pop pointer 0 // update 'this' to object for method call
// static call Memory.deAlloc 
push pointer 0 // this
call Memory.deAlloc 1
push constant 0 // void return
return

method Square.draw 0
push argument 0
pop pointer 0 // update 'this' to object for method call
// static call Screen.setColor 
push constant 1
neg // true
call Screen.setColor 1
// static call Screen.drawRectangle 
push field 0 // x
push field 1 // y
push field 0 // x
push field 2 // size
add
push field 1 // y
push field 2 // size
add
call Screen.drawRectangle 4
push constant 0 // void return
return

method Square.erase 0
push argument 0
pop pointer 0 // update 'this' to object for method call
// static call Screen.setColor 
push constant 0 // false
call Screen.setColor 1
// static call Screen.drawRectangle 
push field 0 // x
push field 1 // y
push field 0 // x
push field 2 // size
add
push field 1 // y
push field 2 // size
add
call Screen.drawRectangle 4
push constant 0 // void return
return

method Square.incSize 0
push argument 0
pop pointer 0 // update 'this' to object for method call

// if <expression>
push field 1 // y
push field 2 // size
add
push constant 254
lt
push field 0 // x
push field 2 // size
add
push constant 510
lt
and

if-goto IF_incSize_0 // enter if
goto ELSE_incSize_0 // exit if or enter else
label IF_incSize_0 // start if
call Square.erase 0
push field 2 // size
push constant 2
add
pop this 2 // size =
call Square.draw 0
label IF_END_incSize_0 // exit if
push constant 0 // void return
return

method Square.decSize 0
push argument 0
pop pointer 0 // update 'this' to object for method call

// if <expression>
push field 2 // size
push constant 2
gt

if-goto IF_decSize_0 // enter if
goto ELSE_decSize_0 // exit if or enter else
label IF_decSize_0 // start if
call Square.erase 0
push field 2 // size
push constant 2
neg
add
pop this 2 // size =
call Square.draw 0
label IF_END_decSize_0 // exit if
push constant 0 // void return
return

method Square.moveUp 0
push argument 0
pop pointer 0 // update 'this' to object for method call

// if <expression>
push field 1 // y
push constant 1
gt

if-goto IF_moveUp_0 // enter if
goto ELSE_moveUp_0 // exit if or enter else
label IF_moveUp_0 // start if
// static call Screen.setColor 
push constant 0 // false
call Screen.setColor 1
// static call Screen.drawRectangle 
push field 0 // x
push field 1 // y
push field 2 // size
add
push constant 1
neg
add
push field 0 // x
push field 2 // size
add
push field 1 // y
push field 2 // size
add
call Screen.drawRectangle 4
push field 1 // y
push constant 2
neg
add
pop this 1 // y =
// static call Screen.setColor 
push constant 1
neg // true
call Screen.setColor 1
// static call Screen.drawRectangle 
push field 0 // x
push field 1 // y
push field 0 // x
push field 2 // size
add
push field 1 // y
push constant 1
add
call Screen.drawRectangle 4
label IF_END_moveUp_0 // exit if
push constant 0 // void return
return

method Square.moveDown 0
push argument 0
pop pointer 0 // update 'this' to object for method call

// if <expression>
push field 1 // y
push field 2 // size
add
push constant 254
lt

if-goto IF_moveDown_0 // enter if
goto ELSE_moveDown_0 // exit if or enter else
label IF_moveDown_0 // start if
// static call Screen.setColor 
push constant 0 // false
call Screen.setColor 1
// static call Screen.drawRectangle 
push field 0 // x
push field 1 // y
push field 0 // x
push field 2 // size
add
push field 1 // y
push constant 1
add
call Screen.drawRectangle 4
push field 1 // y
push constant 2
add
pop this 1 // y =
// static call Screen.setColor 
push constant 1
neg // true
call Screen.setColor 1
// static call Screen.drawRectangle 
push field 0 // x
push field 1 // y
push field 2 // size
add
push constant 1
neg
add
push field 0 // x
push field 2 // size
add
push field 1 // y
push field 2 // size
add
call Screen.drawRectangle 4
label IF_END_moveDown_0 // exit if
push constant 0 // void return
return

method Square.moveLeft 0
push argument 0
pop pointer 0 // update 'this' to object for method call

// if <expression>
push field 0 // x
push constant 1
gt

if-goto IF_moveLeft_0 // enter if
goto ELSE_moveLeft_0 // exit if or enter else
label IF_moveLeft_0 // start if
// static call Screen.setColor 
push constant 0 // false
call Screen.setColor 1
// static call Screen.drawRectangle 
push field 0 // x
push field 2 // size
add
push constant 1
neg
add
push field 1 // y
push field 0 // x
push field 2 // size
add
push field 1 // y
push field 2 // size
add
call Screen.drawRectangle 4
push field 0 // x
push constant 2
neg
add
pop this 0 // x =
// static call Screen.setColor 
push constant 1
neg // true
call Screen.setColor 1
// static call Screen.drawRectangle 
push field 0 // x
push field 1 // y
push field 0 // x
push constant 1
add
push field 1 // y
push field 2 // size
add
call Screen.drawRectangle 4
label IF_END_moveLeft_0 // exit if
push constant 0 // void return
return

method Square.moveRight 0
push argument 0
pop pointer 0 // update 'this' to object for method call

// if <expression>
push field 0 // x
push field 2 // size
add
push constant 510
lt

if-goto IF_moveRight_0 // enter if
goto ELSE_moveRight_0 // exit if or enter else
label IF_moveRight_0 // start if
// static call Screen.setColor 
push constant 0 // false
call Screen.setColor 1
// static call Screen.drawRectangle 
push field 0 // x
push field 1 // y
push field 0 // x
push constant 1
add
push field 1 // y
push field 2 // size
add
call Screen.drawRectangle 4
push field 0 // x
push constant 2
add
pop this 0 // x =
// static call Screen.setColor 
push constant 1
neg // true
call Screen.setColor 1
// static call Screen.drawRectangle 
push field 0 // x
push field 2 // size
add
push constant 1
neg
add
push field 1 // y
push field 0 // x
push field 2 // size
add
push field 1 // y
push field 2 // size
add
call Screen.drawRectangle 4
label IF_END_moveRight_0 // exit if
push constant 0 // void return
return
