// class Main

function Main.main 0
// var int value (local 0)
push constant 8001
push constant 16
push constant 1
neg
sub
call Main.fillMemory 3
push constant 8000
call Memory.peek 1
pop local 0 // value
push local 0 // value
call Main.convert 1
return

function Main.convert 1
// var int mask (local 0)
// var int position (local 1)
// var boolean loop (local 2)
push constant 1
neg
pop local 2 // loop

// while <expression>
push local 2 // loop
if-goto WHILE_START_convert
goto WHILE_END_convert
label WHILE_START_convert
push local 1 // position
push constant 1
add
pop local 1 // position
push local 0 // mask
call Main.nextMask 1
pop local 0 // mask
