// class Main

function Main.main 0
// external call Output.printInt
push constant 1
push constant 2
push constant 3
call Math.multiply 2
add
call Output.printInt 1
pop temp 0 // discard return on do call
push constant 0 // void return
return
